/* Start Component */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
:root{
    --bg_color:#f1f1f1;
    --bg_secondary:#fbfbfb;
    --dark_gray:#333;
    --light_brown:#c7a17a;
    --black:#1f2226;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
.progresse{
    background:linear-gradient(to right , var(--light_brown) , var(--black));
    height: 3px;
    width: 10px;
    animation: haytam  linear;
    animation-timeline: scroll();
}
@keyframes haytam {
    0%{
        width: 10px;
    }
    100%{
        width: 100%;
    }
}
/* Start Utility Classes */
.container{
    max-width: 1000px;
    margin: auto;
}
.text-primary{
    color: var(--light_brown);
}
.heading{
    text-align: center;
}
.heading span{
    font-size: 18px;
}
.heading h2{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 30px;
    margin: -10px;
}
/* End Utility Classes */
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    font-family: "Open Sans", sans-serif;
}
h1,h2,h3{
    font-family: "Oswald", sans-serif;
    color: var(--dark_gray);
}
/* End Component */
/* Start Nav_Bare */
header{
    position: fixed;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    max-width: 1000px;
    height: 90px;
    margin: auto;
}
header nav .nav_links{
    display: flex;
} 
header  .nav_links a{
    font-size: 18px;
    font-weight: 500;
    color: var(--dark_gray);
    margin: 0 20px;
    transition: 0.3s all ease;
}
header  .nav_links a:hover{
    color: var(--light_brown);
}
header .logo{
    width: 200px;
}
@media (max-width:950px){
    header nav{
        height: 60px;
        flex-direction: column;
    }
    header .logo{
        width: 130px;
    }
    header  .nav_links a{
        font-size: 14px;
        font-weight: 400;
        margin: 0 10px;
    }
}
/* End Navbar */
/* Home Start  */
#home{
    background-image: url(imgs/home-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--bg_color);
}
#home .home-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    min-height:
     calc(100vh + 80px);
    gap: 3rem;
    align-items: center;
}
#home .home-content .content-text h3{
    font-weight: 400;
    font-size: 23px;
}
#home .home-content .content-text h1{
    font-weight: 400;
    font-size: 80px;
    margin: 20px 0;
    line-height: 1.3;
}
#home .home-content .content-text p{
    font-size: 18px;
    line-height: 1.5;
}
#home .home-content .content-text .btn{
    display: inline-block;
    margin-top: 2rem;
    background-color: var(--light_brown);
    color: #fff;
    padding: 15px 25px;
    border-radius: 30px;
    transition: all 0.3s ;
}
#home .home-content .content-text .btn:hover{
    background-color: var(--dark_gray);
}
#home .home-content img{
    display: block;
    width: 100%;
}
@media (max-width:950px){
    #home .home-content img{
        display: none;
    } 
    #home .home-content{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #home .home-content .content-text{
        width: 100%;
    } 
}
/* Home End  */
/* Start aboutt  */
#about,#menu,#contact,#footer .footer-top{
    padding: 6rem 0;
}
#about .row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}
#about .aboutt-content h2{
   text-transform: uppercase; 
}
#about .aboutt-content .item{
    margin: 2rem 0;
}
#about .aboutt-content .item h3{
    margin-bottom: 5px; 
}
.row img{
    width: 100%;
}
@media (max-width:800px){
    #about .row{
        display: block;
        text-align: center;
    }
    #about .aboutt-content .item{
        margin: 0.5rem 0;
    }
    .row img{
        margin-bottom: 50px;
        width: 200px;
    }
}
/* End aboutt  */
/* Menu Start  */
#menu{
    background-color: var(--bg_secondary);
}
#menu .row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;    
    gap: 4rem;
}
#menu .row .col .item{
    display: flex;
    border: 1px solid var(--black);
    margin-bottom: 20px;
}
#menu .row .col .item .info{
    margin-left: 20px;
}
#menu .row .col .item .info h3{
    margin-bottom: 10px;
    font-size: 22px;
}
#menu .row .col .item .info p{
    line-height: 1.6;
    font-size: 14px;
}
#menu .row .col .item .price{
    border-left: 1px solid #777;
    padding: 20px;
    margin: auto;
}
#menu .row .col .item img{
    width: 80px;
    margin-left: -50px;
}
@media (max-width:800px){
    #menu .row{
        display: block;
    }
    #menu .row .col .item img{
        width: 100px;
        margin-left: 0px;
    }
}
/* Menu End  */
/* testimonials Start  */
#testimonials .container h2{
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 80px;
    margin-top: 80px;
}
#testimonials .container .parent{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
    margin-bottom: 100px;
    & .box{
    background-color: var(--bg_color);
    text-align: center;
    padding: 10px 20px;
    border-radius: 12px;
    margin-bottom: 25px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    }
    & img{
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin-top: -50px;
        border: 3px solid var(--bg_color);
    }
    & h4{
        margin: 20px 0;
        font-size: 26px;
        text-transform: uppercase;
    }
    & p{
        color: #777;
        font-size: 14px;
    }
}
/* testimonials End  */
/* Contact Start  */
#contact{
    background-color: var(--bg_color);
}
#contact .container .contact{
    background-color: var(--bg_secondary);
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    & iframe{
        width: 100%;
        padding: 0 20px;
    }
    & .reserviation{
        padding: 20px 30px;
    }
    & h3{
        margin-bottom: 1rem;
        font-size: 25px;
        text-align: center;
    }
    & input{
        width: 100%;
        margin-bottom: 10px;
        padding: 8px 15px;
        outline: none;
    }
    & textarea{
        width: 100%;
    }
    & .btn{
        width: 70%;
        margin:auto;
    }
    & input[type="submit"]{
        cursor: pointer;
        background-color: #0165E1;
        color: var(--bg_color);
        border: 1px solid var(--bg_color);
        transition: 0.3s;
        text-transform: uppercase;
    }
    & .btn input[type="submit"]:hover{
        background-color: #fff;
        color: #0165E1;
        border: 1px solid #0165E1;
    }
}
@media (max-width:700px){
    iframe{
        display: none;
    }
    #contact .container .contact{
        display: block;
    }
    .btn input[type="submit"]{
        margin-top: 20px;
    }
}
/* Contact End  */
/* Footer Start  */
#footer .footer-top{
    background: url(imgs/footer-bg.png);
    color: var(--bg_secondary);
}
#footer .footer-top .row{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}
#footer .footer-top .row .col h3{
    color: var(--light_brown);
    margin-bottom: 15px;
}
#footer .footer-top .row .col p{
    width: 400px;
    line-height: 1.5;
}
#footer .footer-top .row .col ul li{
    margin: 10px 0;
}
#footer .footer-top .row .col ul li i{
    margin-right: 10px ;
}
#footer .footer-top .row .col ul li a{
    color: #fff;
}
@media (max-width:800px){
    #footer{
        padding: 0 0 ;
    }
    #footer .footer-top .row{
        display: block;
        text-align: center;
    }
    #footer .footer-top .row .col p{
        width: 70%;
        margin: auto;
        line-height: 1.5;
        text-align: center;
    }
    .col:nth-child(2) ul{
        display: flex;
        justify-content: center;
    } 
    .col:nth-child(2) ul li a{
        display: block;
        margin-right: 10px;
    } 
}
/* Footer End  */
/* CopyRight Start  */
#footer .copyright{
    background-color: var(--dark_gray);
    padding: 30px 0;
    text-align: center;
    color: white;
}
#footer .copyright p{
    font-weight: 500;
}
#footer .copyright a{
    color: white;
    transition: 0.3s all;
}
#footer .copyright a:hover{
    color: var(--light_brown);
}
/* CopyRight Start  */